  
<div class="col-md-6">
    <h3>UPDATE Blog: {{name}}</h3>

    <form class="form update-blog" data-id="{{id}}">
    <div class="form-group">
        <label for="blog-name">Blog name:</label>
        <input class="form-input" type="text" id="update-name" name="blog-name" value="{{name}}"/>
    </div>
    <div class="form-group">
        <label for="blog-desc">Description:</label>
        <textarea class="form-input" id="update-desc" name="blog-desc">{{description}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">UPDATE</button>
    </div>
    </form>
</div>
<script src="/js/update.js"></script>
